<!DOCTYPE html>
<html lang="it">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="This is the Eindhoven Labs Community">
    <meta name="author" content="Paolo Antonio Rossi">

    <title>Eindhoven Labs Community</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body ng-app="app">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">Makers of Eindhoven</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#pitches">Pitches</a>
                    </li>
                    <li>
                    <a href="#addyours">Add your pitch</a>
                    </li>
                    <li>
                        <a href="#contact">About us</a>
                    </li>
					<li>
                        <a href="https://together-blog.herokuapp.com/" target="_blank"></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Makers of Eindhoven</h1>
			<h3>Connect with the makers and the technical community of Eindhoven</h3>
                        <h3>Share your projects and pitch your ideas</h3>
                        <hr class="intro-divider">
                    </div>   
                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

        <!-- /.container -->

    <!-- /div-->
    <!-- /.banner -->
    
    <a  name="pitches"></a>

	<div ng-controller="PitchesCtrl" class="container">
		<!-- form role="form">
			<div class="form-group">
                <h1> Makers of Eindhoven </h1>
                <div class="input-group">
					<input ng-model="postBody" class="form-control" />
					<span class="input-group-btn">
						<button ng-click="addPitch()" class="btn btn-default">Add your pitch now!</button>
					</span>
				</div>
			</div>		
		</form -->

		<ul class="list-group">

			<li ng-repeat="pitch in pitches | orderBy: '-insertiondate'" class="list-group-item">
				1
				{{ a }}
				<strong>{{ pitch.title }}</strong>
				<!--span>{{ pitch.body }}</span>
				<span>{{ pitch.votes }}</span>
				<span>{{ pitch.description }}</span>
				<span>{{ pitch.tags }}</span>
				<span>{{ pitch.pictureurl}}</span>
				<span>{{ pitch.labname }}</span>
				<span>{{ pitch.tags }}</span-->
			</li>
		</ul>
	</div>


	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js"></script>
	<script src="/app.js"></script>

    
    <a  name="addyours"></a>

    <a  name="contacts"></a>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#pitches">Pitches</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#addyours">Add your pitch</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">About us</a>
                        </li>
						<li class="footer-menu-divider">&sdot;</li>
						<li>
							<a href="" target="_blank"></a>
						</li>
                    </ul>
					<p class="copyright text-muted small">
					Project started by <a href="http://twitter.com/luduvigo" target="_blank">luduvigo</a><br>
					Made with ♥ on <a href="http://en.wikipedia.org/wiki/Earth" target="_blank">Planet Earth</a>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>
